body {
  font-size: 20px;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

nav {
  border: 1px solid #bbbbbb;
  padding: 0.5rem;
  background-color: #ffffff;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

label {
  display: block;
  padding: 10px;
}

textarea {
  padding: 10px;
  margin: 15px;
}

/* Class Selectors */

.page {
  max-width: 960px;
  margin: 0 auto;
}

.hero {
  width: 100%;
}

.main_nav {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
  text-align: center;
}

.main_nav li {
  flex: 1 1 auto;
}

.main_nav a {
  display: block;
  padding: 1rem;
  font-size: 1.3rem;
  text-decoration: none;
}

.mission_statement {
  text-align: center;
  padding: 10px;
  margin: 20px;
}

.featured_products {
  width: 275px;
  display: inline;
  padding: 10px;
  margin: 10px;
}

.contact_us {
  display: block;
  text-align: left;
  margin: 15px;
}

.submit {
  display: block;
  margin: 10px;
  padding: 5px;
}

/* Products Page*/

.product_grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 30px;
}

.product_grid img {
  width: 300px;
}
