body {
  font-size: 20px;
  background-color: #daeff8;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.page {
  max-width: 960px;
  margin: 0 auto;
}

.hero {
  width: 100%;
}
