body {
  font-size: 20px;
  padding: 0;
  margin: 0;
  background-color: #daeff8;
  /* background-color: #daeff8; */
  font-family: Arial, Helvetica, sans-serif;
}

header,
footer {
  border: 1px solid #bbbbbb;
  padding: 0.5rem;
  /* background-color: #fff1d0; */
  background-color: #fff1d0;
  display: grid;
  align-items: center;
  justify-content: center;
}

header {
  grid-template-columns: 200px 1fr;
}

a {
  color: #454b1b;
}

main {
  padding: 1rem;
  background-color: #ffffff;
}

h1 {
  color: navy;
  font-size: 2.2rem;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
}

h2 {
  text-align: center;
}

p {
  color: #086788;
  line-height: normal;
}

label {
  display: block;
}

footer {
  grid-template-columns: 1fr 300px;
}

/* Class Selectors */

.mainnav {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
  text-align: center;
}

.mainnav li {
  flex: 1 1 auto;
}

.mainnav a {
  display: block;
  padding: 1rem;
  font-size: 1.3rem;
  text-decoration: none;
}

.mainnav a:hover {
  background-color: white;
}

.page {
  max-width: 960px;
  margin: 0 auto;
}

.heroimg1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.heroimg {
  width: 100%;
  grid-column: 1/4;
  grid-row: 1/4;
  z-index: 1;
}

.grid1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.button {
  font-size: 20px;
  position: absolute;
  bottom: 670px;
  left: 1150px;
  z-index: 2;
  border-radius: 200px;
  background-color: #daeff8;
}

.mainpage {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

.bodyimg1 {
  grid-column: 2/3;
  grid-row: 1/3;
  width: 300px;
  margin: 25px;
  position: relative;
  left: 50px;
}

.heading1 {
  grid-column: 1/2;
  grid-row: 1/2;
  text-align: center;
}

.para1 {
  grid-column: 1/2;
  grid-row: 2/3;
  text-align: center;
  padding: 25px;
  margin-top: -100px;
}

.bodyimg2 {
  grid-column: 1/2;
  grid-row: 3/5;
  margin: 10px;
  position: relative;
  left: 50px;
}

.heading2 {
  grid-column: 2/3;
  grid-row: 3/4;
  text-align: center;
}

.para2 {
  grid-column: 2/3;
  grid-row: 4/5;
  text-align: center;
  padding: 25px;
  margin-top: -100px;
}

.main3 {
  grid-column: 1/3;
  grid-row: 5/6;
}

.bodyimg,
.heroimg {
  box-shadow: 0 0 10px navy;
}

.logo {
  width: 100px;
  height: auto;
}

.social {
  width: 50px;
  height: auto;
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
  grid-gap: 10px;
  text-align: center;
}

/* TESTIMONAL PAGE */
.testimonial_grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 100px;
  padding: 15px;
  margin: 15px;
}

.testimonial_img1 {
  width: 200px;
  height: auto;
  border-radius: 90px;
}

.tesimonial_para1 {
  position: relative;
  right: 200px;
  top: 25px;
}

.testimonial_img2 {
  width: 200px;
  height: auto;
  border-radius: 100px;
  justify-self: right;
}

.testimonial_para2 {
  position: relative;
  left: 200px;
  top: 25px;
}

.testimonial_img3 {
  width: 200px;
  height: auto;
  border-radius: 100px;
}

.testimonial_para3 {
  position: relative;
  right: 200px;
  top: 25px;
}
