/* WDD 130 Positioning Activity */

/* Activity 1 Styles */
.content1 {
  /* Activity One Container */
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  justify-items: center;
}
.red1 {
  width: 100%;
  height: 100px;
  background-color: red;
  grid-column: 1/3;
}
.green1 {
  width: 200px;
  height: 200px;
  background-color: green;
}
.yellow1 {
  width: 200px;
  height: 200px;
  background-color: gold;
}
.blue1 {
  width: 100%;
  height: 100px;
  background-color: blue;
  grid-column: 1/3;
}

/* Activity 2 Styles */
.content2 {
  /* Activity Two Container */
  position: relative;
}
.red2 {
  width: 100px;
  height: 100px;
  background-color: red;
  position: relative;
  top: 50px;
  left: 50px;
}
.green2 {
  width: 100px;
  height: 100px;
  background-color: green;
  position: relative;
  left: 100px;
}
.yellow2 {
  width: 100px;
  height: 100px;
  background-color: gold;
  position: absolute;
  top: 150px;
  left: 150px;
}
.blue2 {
  width: 100px;
  height: 100px;
  background-color: blue;
  position: absolute;
  top: 200px;
  left: 200px;
}

/* Activity 3 Styles */
.content3 {
  /* Activity Three Container */
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}
.red3 {
  width: 100%;
  height: 100px;
  background-color: red;
  grid-column: 1/3;
  grid-row: 1/2;
}
.green3 {
  width: 85%;
  height: 100%;
  background-color: green;
  grid-column: 1/2;
  grid-row: 2/4;
}
.yellow3 {
  width: 85%;
  height: 100%;
  background-color: gold;
  grid-column: 2/3;
  grid-row: 2/4;
  position: relative;
  left: 45px;
}
.blue3 {
  width: 100%;
  height: 100px;
  background-color: blue;
  grid-column: 1/3;
  grid-row: 4/5;
}

/* Activity 4 Styles */
.content4 {
  /* Activity Four Container */
  height: 400px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}
.red4 {
  width: 100%;
  height: 100%;
  background-color: red;
  grid-column: 1/2;
  grid-row: 1/2;
}
.green4 {
  width: 100%;
  height: 100%;
  background-color: green;
  grid-column: 1/2;
  grid-row: 2/3;
}
.yellow4 {
  width: 100%;
  height: 100%;
  background-color: gold;
  grid-column: 1/2;
  grid-row: 3/4;
}
.blue4 {
  width: 100%;
  height: 100%;
  background-color: blue;
  grid-column: 2/3;
  grid-row: 1/4;
}

/* Activity 5 Styles */
.content5 {
  /* Activity Five Container */
  height: 400px;
  display: block;
}
.red5 {
  width: 100%;
  height: 100px;
  background-color: red;
}
.green5 {
  width: 180px;
  height: 180px;
  background-color: green;
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}
.yellow5 {
  width: 100%;
  height: 350px;
  background-color: gold;
  padding-top: 10px;
}

.blue5 {
  width: 100%;
  height: 100px;
  background-color: blue;
}

/* Activity 6 Styles */
.content6 {
  /* Activity Six Container */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}
.red6 {
  width: 420px;
  height: 180px;
  background-color: red;
  grid-column: 1/5;
  grid-row: 1/3;
  z-index: 1;
}
.green6 {
  width: 100%;
  height: 180px;
  background-color: green;
  grid-column: 1/3;
  grid-row: 4/6;
  z-index: 3;
  margin-top: 20px;
}
.yellow6 {
  width: 180px;
  height: 100%;
  background-color: gold;
  grid-column: 4/6;
  grid-row: 3/6;
  z-index: 3;
  margin-left: 60px;
}
.blue6 {
  width: 420px;
  height: 350px;
  background-color: blue;
  grid-column: 2/6;
  grid-row: 2/5;
  z-index: 2;
}

/* Do not change this container class */
.activity {
  width: 600px;
  margin: 1rem auto;
  font-family: Arial, sans-serif;
  border: 1px solid #777;
  padding: 1rem;
  clear: both;
  overflow: auto;
}

.title {
  background-color: #ddd;
}
